/* Loading bar */
.loading {
  height: 10px;
  background-color: slategray;
  top: 0;
  position: fixed;
  z-index: 10;
}


/* Navigation */
.navbar {
  margin-bottom: 1em;
}

.navbar-brand svg {
  margin-top: -0.1em !important;
  margin-Right: 0.3em;
}

.navbar .avatar {
  width: 30px;
  height: 30px;
  margin-top: -.5em;
  margin-left: .5em;
}


/* Login */
.login-card {
  text-align: center;
  width: 25em;
  margin: 1em 1em;
}

.login-card img {
  border-radius: 1em;
  margin-bottom: 1em;
  height: 5em;
}

.login-card .dropdown {
  margin-bottom: 1em;
}


/* 404 page */
.not-found {
  margin: 1em 1em;
}

.not-found img {
  width: auto;
  height: 33vw;
  display: block;
  margin: auto;
  position: relative;
}


/* Questions */
.question span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.question.avatar {
  margin: 10px;
}


.question-result .badge {
  float: right
}

.question-result .progress {
  margin-bottom: 2em;
}

.question-result .list-group {
  margin-top: 1em;
}

.question-result .center {
  position: absolute;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Avatars */
.avatar {
  width: 100%;
  max-width: 150px;
}

.question-avatar {
  margin: 0;
}


/* Leaderboard */

.leaderboard .card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.leaderboard .position {
  font-size: 1.25em;
  margin-right: 0.2em;
  font-weight: bold;
}

.leaderboard .author {
  font-size: 1em;
  font-weight: bolder;
}

.leaderboard .stats span {
  font-size: 2em;
  font-weight: bold;
  margin-right: .25em;
  display: inline-block;
}

.score {
  text-align: center;
}

.score .card-body {
  padding: 0 15px;
}

.score .card-body p {
  font-size: 3em;
  font-weight: bold;
}


